@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
header{
	position: relative;
	background-image: url("images/food hero.jpg");
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	color: white;
}
.top-header{
	position: relative;
	padding: 0 0 20px 0;
	border-bottom: 3px solid darkgoldenrod;
	background: transparent;
	transform:translateY(-100px);
	transition: all 0.5s ease-in-out;
	z-index: 5;
	height: 160px;

}
#menu-bar{
	width: 100%;
	display: flex;
	justify-content: center;
	transform: translateY();
	transition: all 0.8s ease-in-out;
}
.menu-items{
	display:inline-block;
	color: #bbb;
	padding: 60px 30px;
	font-size: 1.5rem;
	cursor: pointer;
	transition: all 0.3s;
}
.menu-items:hover{
	color: #fff;
	padding:50px 30px 30px 30px ;
	text-shadow: 0 0 10px #fff;
}

.hamburger{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 50%;
	bottom: -39%;
	transform: translate(-50%,-50%);
	border: 3px solid darkgoldenrod;
	border-radius: 100%;
	background: white;
	height: 60px;
	width: 60px;
	cursor: pointer;
}

.hamburger-bars{
	height: 5px;
	width: 33px;
	background: rgba(0, 0, 0, .5) ;
	border-radius: 20rem;
	transition: all 0.5s ease-in-out;
}
.hamburger-bars::before,.hamburger-bars::after{
    content: ' ';
    position: absolute;
	height: 5px;
	width: 33px;
	background: rgba(0, 0, 0, 0.5) ;
	border-radius: 20rem;
	transition: all 0.5s ease-in-out;
}
.hamburger-bars::before{
	transform: translateY(-10px);
}
.hamburger-bars::after{
	transform: translateY(10px);
}

/* Animation for hamburger icon */

.hamburger.open .hamburger-bars::before{
	transform: rotate(45deg) translate(-7.5px,7.5px) ;

}
.hamburger.open .hamburger-bars::after{
	transform: rotate(-45deg) translate(-7.5px,-7.5px);
}
.hamburger.open .hamburger-bars{
	 transform: translateX(-11px) rotate(180deg);
	 background: transparent;
}
.logo{
	position: absolute;
	bottom: -35%;
	left: 5%;
}
.social-tags{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: -18%;
	right: 5%;
	width: 250px;
}
.social-tags a{
	background: goldenrod;
	padding: 10px;
	margin: 5px auto;
	border-radius: 30px;
	font-size: 1.5rem;
	color: white;
}
.social-tags i{
	text-shadow: 0 0 2px black;
	transition: all 0.15s ease-in-out;
}
.social-tags i:hover {
	transform: scale(1.25);	
}
.social-tags a:hover{
	border: 2px solid white;
	padding: 8px;
}
.hero-message{
	position: absolute;
	right: 20%;
	bottom: 30% ;
	font-size: 2rem;
}
#order-button{
	position: absolute;
	padding: 15px 20px 15px 0px;
	width: 275px;
	background: goldenrod;
	margin: 25px 0 0 0px;
	border: none;
	color: #004c47;
	font-size: 1.3rem;
	box-shadow: 0 0 5px navajowhite;
}
.fa-utensils{
	position: absolute;
	animation: jump 0.5s ease-in-out infinite;

}
@keyframes jump {
	0%{padding-top: 0px;}
	25%{padding-top: 2.5px;}
	50%{padding-top: 5px;}
	75%{padding-top: 2.5px;}
	100%{padding-top: 0px;}
}
.org-menu::before{
   content: " ";
   height: 20px;
   width: 100%;
   background: linear-gradient(45deg,#9E4C0A,goldenrod,white);
   display: block;
}

.org-menu h1{
	color: #004c47;
	font-size: 4rem;
	font-family: 'Style Script', cursive;
	padding: 25px;
}
.menu-slides{
	display: flex;
	overflow-x:scroll;
	justify-content: safe start;
	align-items: center;
	background: purple;
}
.menu-slide{
	display: inline-block;
	position: relative;
	background: black;
	height: 100px;
	width: 200px;
	margin: 10px;
	border-radius: 10px;
}
.menu-slide img{
	height: inherit;
	width: inherit;
	border-radius: 10px;
	border: 2px solid #004c47;
}