@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Noto+Serif+JP:wght@300;400&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
	scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
	position: relative;
}
header{
	position: relative;
	background-image: url("images/food hero.jpg");
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	color: white;
}
.top-header{
	position: relative;
	padding: 0 0 20px 0;
	border-bottom: 3px solid darkgoldenrod;
	background: transparent;
	transform:translateY(-100px);
	transition: all 0.5s ease-in-out;
	z-index: 5;
	height: 160px;

}
#menu-bar{
	width: 100%;
	display: flex;
	justify-content: center;
	transform: translateY();
	transition: all 0.8s ease-in-out;
}
.menu-items{
	display:inline-block;
	color: #bbb;
	padding: 60px 30px;
	font-size: 1.5rem;
	cursor: pointer;
	transition: all 0.3s;
}
.menu-items:hover{
	color: #fff;
	padding:50px 30px 30px 30px ;
	text-shadow: 0 0 10px #fff;
}

.hamburger{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 50%;
	bottom: -39%;
	transform: translate(-50%,-50%);
	border: 3px solid darkgoldenrod;
	border-radius: 100%;
	background: white;
	height: 60px;
	width: 60px;
	cursor: pointer;
}

.hamburger-bars{
	height: 5px;
	width: 33px;
	background: #004c47 ;
	border-radius: 20rem;
	transition: all 0.5s ease-in-out;
}
.hamburger-bars::before,.hamburger-bars::after{
    content: ' ';
    position: absolute;
	height: 5px;
	width: 33px;
	background: #004c47 ;
	border-radius: 20rem;
	transition: all 0.5s ease-in-out;
}
.hamburger-bars::before{
	transform: translateY(-10px);
}
.hamburger-bars::after{
	transform: translateY(10px);
}

/* Animation for hamburger icon */

.hamburger.open .hamburger-bars::before{
	transform: rotate(45deg) translate(-7.5px,7.5px) ;

}
.hamburger.open .hamburger-bars::after{
	transform: rotate(-45deg) translate(-7.5px,-7.5px);
}
.hamburger.open .hamburger-bars{
	 transform: translateX(-11px) rotate(180deg);
	 background: transparent;
}
.logo{
	position: absolute;
	bottom: -60%;
	left: 5%;
}
.social-tags{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: -18%;
	right: 5%;
	width: 280px;
}
.social-tags a{
	background: goldenrod;
	padding:12px 12px 10px 12px;
	margin: 5px auto;
	border-radius: 100%;
	font-size: 1.5rem;
	color: white;
	}
.social-tags a:nth-child(3){
	padding: 12px 13px 10px 13px;
}
.social-tags a:nth-child(3):hover{
	padding: 10px 11px 8px 11px;
}
.social-tags i{
	text-shadow: 0 0 2px black;
	transition: all 0.15s ease-in-out;
}
.social-tags a:hover i{
	transform: scale(1.25);	
}
.social-tags a:hover{
	border: 2px solid white;
	padding: 10px 10px 8px 10px;
}
.hero-message{
	position: absolute;
	right: 20%;
	bottom: 30% ;
	font-size: 2rem;
	width: 300px;
}
#order-button{
	position: absolute;
	padding: 15px 20px 15px 0px;
	width: 275px;
	background: goldenrod;
	margin: 25px 0 0 0px;
	border: none;
	color: #004c47;
	font-size: 1.3rem;
	box-shadow: 0 0 5px navajowhite;
}
.fa-utensils{
	position: absolute;
	animation: jump 0.5s ease-in-out infinite;

}
@keyframes jump {
	0%{padding-top: 0px;}
	25%{padding-top: 2.5px;}
	50%{padding-top: 5px;}
	75%{padding-top: 2.5px;}
	100%{padding-top: 0px;}
}
.org-menu::before{
   content: " ";
   height: 20px;
   width: 100%;
   background: linear-gradient(45deg,#9E4C0A,goldenrod,white);
   display: block;
}

.org-menu h1{
	color: #004c47;
	font-size: 5rem;
	font-family: 'Style Script', cursive;
	padding: 45px;
}
.menu-slides{
	position: relative;
	display: flex;
	overflow-x:auto;
	justify-content: safe start;
	align-items: center;
	scroll-behavior: smooth;
	border-bottom: 2px solid darkgoldenrod;
	transition: all 0.1s ease-in-out;
	scroll-behavior: smooth;
}
.arrows{
	font-size: 1.8rem;
	position: absolute;
	color: rgba(0, 0, 0, .6);z-index:2;
	transform: translateY(-30px);
}
#left-arrow{
	left: 5px;
}
#right-arrow{
	right: 5px;
}
.menu-slide{
	display: inline-block;
	position: relative;
	background: black;
	height: 75px;
	width: 150px;
	margin: 20px 10px;
	border-radius: 10px;
	transition: all 0.2s ease-in-out;
}
.menu-slide img{
	height: inherit;
	width: inherit;
	border-radius: 10px;
	transition: all 0.1s ease-in-out;
}
.menu-slide:hover img{
	filter: blur(40px);
	box-shadow: 0px 5px 3px black;
}
.menu-slide:hover{
	margin-bottom: -5px;
}
.menu-slide:active img{

}
/* Hide scrollbar for Chrome, Safari and Opera */
.menu-slides::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.menu-slides {
  -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
}
/*.menu-container{
	background: url("images/specialmenu.png");
	background-size:contain;
	width: 400px;
	height: 600px;

}*/
.text{
	position: absolute;
	left: 50%;
	top: 50%;
	padding: 5px;
	transform: translate(-50%,-50%);
	font-size: 1.5rem;
	font-weight: 800;
	color: #9A1515;
	text-shadow: 0px 0px 5px white;
	opacity: 1;
	background: rgba(255,255, 255, 0.6);
	border-radius: 10px;
	z-index: 5;
}
.menu-container::-webkit-scrollbar{
	display: none;
}
.menu-container{
	display: flex;
	justify-content: start;
	align-items: center;
	width: 100vw;
	overflow-x: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	margin: 0px auto;
	padding: 150px;
	background-image: url(images/bookbackground.jpg);
	background-size: cover;
}
.menubook{
	margin: 0 20px;
	transition: all 0.2s ease-in-out;
	transform-style: preserve-3d;
	transform: perspective(1000px) rotate3d(0, 1, 0, 45deg) scale(0.8);
	opacity: 0.6;
}
.menubook:first-child{
	margin-left: 33%;
	transform: scale(1.15);
	box-shadow:5px 10px 50px black;
	opacity: 1;
}
.menubook:last-child{
	margin-right: 35%;
}
.scale-menu{
	transform: scale(1.15);
	box-shadow: 5px 10px 50px black;
	opacity: 1;
}
.blured{
	filter: blur(40px);
	box-shadow: 0px 5px 3px black;
	padding-bottom: -5px;
}

/* ORDER TABLE */

.order-table::before{
	content: ' ';
	display: block;
	height: 10px;
	width: 100%;
  bottom: 202px;
  background: linear-gradient(to bottom,black,white);
}
.order-table h1{
	color: #004c47;
	font-size: 5rem;
	font-family: 'Style Script', cursive;
	padding: 45px;
}
.table{
	text-align: center;
	font-family: monospace;
  margin: auto;
}
select{
	margin: 20px;
	width: 150px;
	padding: 5px;
	border-radius: 5px;
	outline: none;

}
#table-menu{
	margin: auto;
	width: 700px;
	height: 800px !important;
}
#table-menu label{
	padding-left: 10px;
}
legend{
	position: relative;
	margin: auto;
	font-size: 2rem;
	font-family: 'Pacifico';
	color: yellow;
	background: #004c47;
	padding: 0px 50px;
}
legend::before,legend::after{
	content: '';
	position: absolute;
	left: 0;
	border: 1.75rem solid transparent;
	border-left:1.75rem solid white;
}
legend::after{
	right: 0;
	border-right: 1.75rem solid white;
}
fieldset{
	border-radius: 10px;
	padding: 10px;
}
.items-table{
	padding: 20px;
	display:grid;
	grid-template-columns: auto auto auto auto;
	background: beige;
}
.items-table>div>div{
	width: 150px;
  border-bottom: 1px solid red;
  padding: 10px;
}
.items-table h2{
	margin: 15px auto;
	font-size: 2rem;
	font-family: monospace;
}
.maincourse{
	grid-area: 1 / 1 / span 2 / span 3;
}
.order-table button{
	display: block;
   width: 150px;
   padding: 10px;
   margin: 30px auto;
   color: #004c47;
   font-size: 1.2rem;
   box-shadow: 0 0 5px black;
}
input[type=checkbox] + label {
  opacity: 1;
} 
input[type=checkbox]:checked + label {
  opacity: .3;
}

/*  Adress bar */


.form-control {
  float: left;
  margin: 5px;
}

#inputStreet {
  width: 100%;
}

#inputCity {
  width: 50%;
}

#inputState {
  width: 15%;
}

#inputZip {
  width: 28%;
}

#inputCounty {
  width: 45%;
}

#inputCountry {
  width: 50%;
}
input{
	padding: 5px;
}
#cross{
	position: absolute;
	right: 15px;
	top: 10px;
	font-size: 1.3rem;
	background: transparent;
	border: none;
	color: white;
	transition: all 0.2s ;
}
#cross:hover{
	transform: scale(1.3);
}


.add-address{
	display: none;
	flex-direction: column;
	width: 40%;
	margin: auto;
	background: linear-gradient(45deg,goldenrod,#00a);
	padding: 50px;
	color: white;
	position:fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  transition: all 0.3s linear;
}
.add-address h1{
	font-family: monospace;
	font-size: 2.5rem;
	margin: 0 auto 20px auto;
	color: white;
}
.add-address label{
	width: 100px;
	padding: 5px;
	display: inline-block;
	margin: 10px;
	font-size: 1.1rem;
}
.add-address input{
	width: 40%;
	margin: 10px ;
}
#address{
	width: 315px;
	float: right;
}
#address input:nth-of-type(2),#address input:nth-of-type(3){
	width: 100px
}
#address input:nth-of-type(4){
	width: 125px;
}
#address input:last-of-type{
	width: 245px;
}

#termscheck{
	margin: 20px 0 0 -50px;
}
#termscheckp{
	margin: -15px 60px;
}
#address-button{
	width: 100px;
	padding: 10px;
	margin: 30px auto;
	outline: 0;
	border: 0;
	background: #ddd;
	opacity: 0.3;
	border-radius: 2px;
}
#termscheck:checked #address-button{
	background: skyblue;
}


/*  Our chefs */

.our-chefs h1{
	color: #004c47;
	font-size: 5rem;
	font-family: 'Style Script', cursive;
	padding: 45px;
}

.column{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.row{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 170px;
	width: 70%;
	margin:15px;
	border-radius: 20px;
	background: linear-gradient(to right, goldenrod, white);

}
#row2{
	background: linear-gradient(to left, goldenrod, white);
	flex-direction: row-reverse;
}
.chefimage{
	position: relative;
	display: block;
	width: 25%;
	height: inherit;
	border: 1px solid #004c47;
	border-radius: 20px ;
	background: white;
}
.chefimage img{
   position: relative;
   top: 0px;
   left: 0px;
   border-radius: 20px;
   transition: all 0.4s ease-in-out;
  
}
#chefimage2{
	float: right;
}
.chefimage:hover img{
	top: -40px;
	left: -40px;
}
#chefimage2:hover img{
	left: 40px;
}

.chefname{
	position: absolute;
	bottom: 25px;
	left: 50px;
	height: 10px;
	width: auto;
  font-family: 'Pacifico', cursive;
	font-weight: 800;
	font-size: 1.1rem;
	color: #004;

}
#chefimage2 .chefname{
	left: 70px;
}
.socialchef{
  position: absolute;
  display: block;
  background: black;
  left: 100px;
  top: 20px;
}
.chefsocial{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 1.5rem;
	padding: 10px;
	margin: 10px 0px;
	right: 0;
	width: 40px;

}
.chefsocial i:hover{
	transition: all 0.1s ease-in-out;
	transform: scale(1.1);
}
#chefsocial2{
 left: 0;
}
.chefsocial i{
	margin: 2.5px 0;
	color: #004;
}
.aboutchef{
	width: 70%;
	padding: 0 50px 0 20px;
font-family: 'Noto Serif JP', serif;
}
.our-branches h1{
	color: #004c47;
	font-size: 5rem;
	font-family: 'Style Script', cursive;
	padding: 45px;
}
.all-branches{
	display: flex;
	justify-content: space-around;
	align-items: center;
  /* background:linear-gradient( to top,rgba(0,0,0,0.8),white);*/
	padding: 20px;
}
.branch{
	position: relative;
	height: 300px;
	width: 20%;
	border-radius: 10px;
}
h3{
	font-family: monospace;
	margin:0 30% 50px 30%;
	font-size: 1.1rem;
}
.locname{
	position: absolute;
  text-shadow: 0 0 0.5px black;
	bottom: 0;
	width: 100%;
	border-radius:0 0 10px 10px;
	padding: 15px;
	font-size: 1.2rem;
	font-family: 'Noto Serif JP', serif;
	font-weight: bold;
 background-color: rgba(0, 0, 0,0.1);  
 backdrop-filter: blur(3px);
}

/* Map */

.mapouter{
	position:relative;
	text-align:right;
	width:100%;
	height:300px;
	border-radius: 10px;
	box-shadow: 2px 2px 10px black;
}
.gmap_canvas {
	overflow:hidden;
	background:none!important;
	width:100%;
	height:300px;
	border-radius: 10px;
}
.gmap_iframe {
		height:300px!important;
		border-radius: 10px;
	}
#footer{
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;

	position: relative;
		width: 100%;
		background: rgba(20, 20, 20, 1.0);
		margin-top: 50px;
	}
.social-footer a{
	display: inline-block;
	margin: 20px 5px;
	padding: 10px;
	color: #fff;
	font-size: 1.5rem;
	background: goldenrod;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
}
.social-footer a:hover{
    padding-bottom: 20px;
}
.logofooter h2{
   color: goldenrod;
   font-family: arial;
   font-size: 2rem;
   transform: translate(10px,-20px);
   text-shadow: 1px 1px 3px white, 1px 1px 3px black;
}
.logofooter p{
	width: 300px;
	color: #ccc;
	font-size:0.9rem;
	font-weight:100;

}
.branchfooter{
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
  color: goldenrod;
}
.branchfooter h2{
	font-family: arial;
	text-decoration: underline;
	font-size: 1.75rem;
	margin: 10px;
}
.branchfooter li{
	margin-left: 40px;
}
.wanttocontact{
	display: flex;
	width: 350px;
	font-family: arial;
	justify-content: center;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 60px;
}
.wanttocontact h1{
   color: goldenrod;
   font-size:2.5rem;
}

#footer input{
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin: 20px 0  0;
  padding: 20px;
  transition: all 0.1s;

}
#textarea{
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  resize: none;
 
  width: 100%;
  height: 150px;
  padding: 10px 10px 10px 20px;
}
#footer input:focus{
  outline: none;
}
textarea:focus{
  outline: none;
}
#shoot{
  background: goldenrod;
  color: #fff;
 
  border: none;
  border-radius: 5px;
  margin: 20px;
  width: 100px;
  padding: 10px;
  font-size: 1.2rem;
  }
.copyright{
  position: absolute;
  font-size: x-small;
  bottom: 10px;
  left: 50%;
  max-width: 100%;
  transform: translateX(-50%);
  color: white;

}